* {
    box-sizing: border-box;
}

body, p {
    margin: 0;
    padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.nav {
  height: 55px;
  background: #f55a5a;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 7px;
}

.nav--icon {
    width: 24px;
    height: 24px;
}
